<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Albums Registry</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/less")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Strings.Layout_AlbumsRegistry, "Index", "Albums", new { area = string.Empty }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Strings.Layout_Artists, "Index", "Artists")</li>
                    <li>@Html.ActionLink(Strings.Layout_Publishers, "Index", "Publishers")</li>
                    <li>
                        @{
                            var adminMode = false;

                            if (Request.Cookies["am"] != null)
                            {
                                adminMode = Request.Cookies["am"].Value == "1";
                            }

                            if (adminMode == false)
                            {
                                <a href="@Url.Action("Activate", "AdminMode")">
                                    <span class="glyphicon glyphicon-log-in" aria-hidden="true" title="@Strings.AdminMode_Activate_Title"></span>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Deactivate", "AdminMode")">
                                    <span class="glyphicon glyphicon-log-out" aria-hidden="true" title="@Strings.AdminMode_Dectivate_Action"></span>
                                </a>
                            }
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div class="row">
            <div class="col-xs-12">
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - <a href="mailto:piotr.jaminski@gmail.com">Piotr Jamiński</a></p>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
