@model IEnumerable<AlbumsRegistry.Core.Models.Publisher>

@{
    ViewBag.Title = Strings.Publishers_Index_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Strings.Publishers_Index_Title</h2>

<p>
    <a class="btn btn-default" href="@Url.Action("Create", "Publishers")" role="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <span>@Strings.Publishers_Index_Add</span>
    </a>

    <span class="pull-right">@Strings.Publishers_Index_Count: <b>@Model.Count()</b></span>
</p>

@Html.Partial("_List", new ViewDataDictionary(Model))


@section Scripts {
    @Scripts.Render("~/bundles/toastr")
    <script>
        $(function() {
            var msg = "@(TempData["Msg"] as string)";
            if (msg) {
                toastr.success(msg);
            }
        });
    </script>
}