@model IEnumerable<AlbumsRegistry.Core.Models.Artist>

@{
    ViewBag.Title = Strings.Artists_Index_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Strings.Artists_Index_Title</h2>

<p>
    <a class="btn btn-default" href="@Url.Action("Create", "Artists")" role="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <span>@Strings.Artists_Index_Add</span>
    </a>

    <span class="pull-right">@Strings.Artists_Index_Count: <b>@Model.Count()</b></span>
</p>

@Html.Partial("_List", new ViewDataDictionary(Model))