@model IEnumerable<AlbumsRegistry.Core.Models.Artist>

@{
    ViewBag.Title = Strings.Artists_Index_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h2>@Strings.Artists_Index_Title</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-9">
        <p>
            <a class="btn btn-default" href="@Url.Action("Create", "Artists")" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span>@Strings.Artists_Index_Add</span>
            </a>
        </p>
    </div>
    <div class="col-xs-3">
        <span class="pull-right">@Strings.Artists_Index_Count: <b>@Model.Count()</b></span>
    </div>
</div>

@Html.Partial("_List", new ViewDataDictionary(Model))

@section Scripts {
    @Scripts.Render("~/bundles/toastr")
    <script>
        $(function() {
            var msg = "@(TempData["Msg"] as string)";
            if (msg) {
                toastr.success(msg);
            }
        });
    </script>
}
